@model IEnumerable<CarwashClient.Models.AppointmentVM>

@{
    ViewBag.Title = "Список записей";
}

<div class="row">
    <h2 style="text-align: center; font-family: sans-serif; font-weight: bold;">Список записей</h2>

    <div class="text-end">
            <a href="@Url.Action("Create", "Appointments", null)" class="round-button bg-green" data-tooltip="Добавить запись">
                <i class="bi bi-plus-circle"></i>
            </a>
        </div>
</div>

<table class="table table-striped table-hover mt-3">
    <thead>
        <tr>
            <th class="MainText">Дата</th>
            <th class="MainText">Время</th>
            <th class="MainText">Стоимость</th>
            <th class="MainText">Клиент</th>
            <th class="MainText">Сотрудник</th>
            <th class="MainText">Статус</th>
            <th class="MainText">Номер места</th>
                <th class="MainText">Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpotNumber)
                </td>
                    <td>
                        <a href="@Url.Action("Edit", "Appointments", new { id = item.Id })" data-tooltip="Редактировать">
                            <i class="bi bi-pencil fs-1 text-info"></i>
                        </a>
                        <a href="@Url.Action("Details", "Appointments", new { id = item.Id })" data-tooltip="Подробнее">
                        <i class="bi bi-info-circle fs-1 text-success"></i>
                        </a>
                        <a href="@Url.Action("Delete", "Appointments", new { id = item.Id })" data-tooltip="Удалить">
                            <i class="bi bi-trash fs-1 text-danger"></i>
                        </a>
                    </td>
            </tr>
        }
    </tbody>
</table>
